html,
body {
    height: 100%;
    /* background-color: red; */
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

.btn,
.form-control,
.card,
.form-select,
.accordion-item,
.accordion,
.accordion .show,
.accordion-button,
.list-group,
.dropdown-menu {
    border-radius: 0px !important;
}

.accordion-button:not(.collapsed) {
    background-color: var(--bs-dark);
    color: white;
}

a {
    text-decoration: none;
    color: var(--bs-danger);
}

.movie-item {
    border: 0;
    background-color: var(--bs-dark);
    cursor: pointer;
    color: white;
    position: relative;
    transition: all .2s;
}

.movie-item img {
    z-index: 10;
}

.movie-information {
    padding: 20px;
    transition: all .2s;
    position: absolute;
    background-color: var(--bs-danger);
    bottom: 50%;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: 700;
    translate: 0 100%;
    z-index: 11;
    opacity: 0;
}

.movie-item:hover {
    /* box-shadow: 0 0 20px rgba(30, 30, 30, .8); */
}

.movie-item:hover .movie-information {
    translate: 0 0;
    /* translate: 0 100%; */
    opacity: 1;
    bottom: 0;
}

.btn-ani-remove {
    position: relative;
    /* transition: all 1s; */
}

.btn-ani-remove::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(30, 30, 30, .3);
    width: 0;
}

.btn-ani-remove:active::before {
    transition: width 1.5s linear;
    width: 100%;
}

.edit-cover {
    opacity: 0;
    transition: opacity .15s;
}

.user-cover:hover .edit-cover {
    opacity: 1;
}

img {
    user-select: none;
}

.btn-mark {
    cursor: pointer;
    transition: scale .15s;
}

.btn-mark:active {
    scale: .9;
}

.btn-mark:is(.active) .bookmark {
    display: none;
}

.btn-mark:not(.active) .bookmark-fill {
    display: none;
}

.custom-card:hover img {
    translate: 0 -2px;
    box-shadow: 0 4px 20px 4px rgba(30, 30, 30, .15);
    scale: 1.5;
}

.custom-card_image {
    height: 150px;
    display: flex;
    border: 1px solid rgba(30, 30, 30, .2);
    box-shadow: inset 0 4px 20px 4px rgba(30, 30, 30, .15);
    overflow: hidden;
}

.custom-card img {
    height: 100%;
    object-fit: cover;
    margin: auto;
    transition: box-shadow .2s ease, translate .2s ease;
}

.custom-card .description {
    overflow: hidden;
    text-overflow: ellipsis !important;
    white-space: nowrap;
}